<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form class="input-group form-group" method="POST" action="/login">
                <input type="email" class="form-control" placeholder="Enter email" required>
                <div class="input-group-append">
                    <span class="input-group-text bg-primary">
                        <button type="submit" class="btn btn-outline-primary btn-sm text-white">Fetch Contacts</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>